
.textbox {

    margin-top: 2px;
    width: 30%;
    display: inline-block;
    background-color: deepskyblue;
    color: aliceblue;
    white-space: normal;
}

.center {
    text-align: center;
    white-space: nowrap;
}


